body{
    color:rgba(217, 255, 0, 0.596);
    background: rgb(67, 182, 0);
    margin: 0px;
    font-family: "Bitcount Single Ink", sans-serif;
    margin-bottom: 100px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color: rgb(138, 0, 0);
}
.chamada{
    background: rgb(24, 1, 54);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-vídeos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-vídeos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-vídeos img:hover{
    opacity: 1.0;
    border: ipx solid yellow;
}
.categoria h2{
    color:blueviolet
}